.main-chat
  .main-chat__group
    .main-chat__group__info
      .main-chat__group__info--name
        = @group.name
      .main-chat__group__info--member
        Member：
        - @users.each do |user|
          = user.name
    = link_to edit_group_path(@group.id) do
      .main-chat__group__edit
        Edit
  .main-chat__talk
    = render @messages

  .main-chat__form
    = form_for [@group, @message] do |f|
      .main-chat__form__input
        .main-chat__form__input__box
          = f.text_field :content, class: "main-chat__form__input__box--text",placeholder: "type a message"
          %label{class: "main-chat__form__input__box__image"}
            = icon('fas', 'image', class: "main-chat__form__input__box__image--icon")
            = f.file_field :image, class: "main-chat__form__input__box__image--input"
        = f.submit 'Send', class: "main-chat__form__input--submit"

    